@media (max-width: 575.98px) {
  .banner-image-container {
    width: 100%;
}
  .idea {
    text-align: end;
    border-radius: 28px;
    border: 1px solid #d8d8d8;
    margin-right: 5px;
    padding: 3px;
    margin-bottom: 6px;
    font-size: 13px !important;
}
  .hide-large{
    display: block;
  }
  .work-rocket {
    height: 150px;
    width: 60px;
    margin: 0 auto;
}
  .work-rocket-container {
    position: relative;
    top: 0;
}
  .socials a {
    height: 41px;
}
  .hide-small{
    display: none !important;
  }
  .banner-buttons button {
    min-width: 140px;
    height: 50.4px;
}
.first-banner-image-container {
  margin-top: 0;
}
.banner {
  padding: 0rem 0;
}
.banner-text h1 {
  font-size: 30px;
  line-height: 122%;
  font-weight: 400;
}
p {
  font-size: 18px !important;
  line-height: 164%;
}
.scrolling ul li a {
  padding: 5px 7px 5px 7px;
  font-size: 18px;
}
.scrolling-container {
  padding: 0px;
}
.details-section {
  padding: 0rem;
}
.details-container {
  padding: 1rem;
  border: none;
}
.projects h2 {
  font-size: 25px !important;
}
.project-icon {
  height: 52px;
  width: 31px;
  font-size: 22px;
}
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 1399.98px) {
  .details-image {
    width: 300px;
    height: 400px;
  }
  .project-image h3 {
    font-size: 24px;
  }
  section {
    padding: 2rem 0;
  }
}
