@import url("https://fonts.googleapis.com/css2?family=Karla&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
.hide{
  animation: hidepreloader 2s linear forwards;
  -webkit-animation: hidepreloader 2s linear forwards;
}
@keyframes hidepreloader {
  0%{
    opacity: 1;
    visibity:visible;
    z-index: 10;
  }
  100%{
    opacity: 0;
    visibity:hidden;
    z-index: -1;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
video {
  object-fit: contain;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: initial;
}
a {
  text-decoration: none;
  color: initial;
}
.grayscale{
    filter: grayscale(1);
}
section {
  padding: 4rem 0;
}
header {
  font-family: "Karla", sans-serif;
}
.header{
  padding: 1rem 0;
}
.banner {
  padding: 7rem 0;
}
.banner-text h1 {
  font-size: 60px;
  line-height: 122%;
}
.banner-text p {
  font-size: 22px;
  line-height: 164%;
}
.banner-image-container {
  width: 245px;
  height: 374px;
  overflow: hidden;
  border-radius: 296px;
  border: 1px solid #efefef;
}
.first-banner-image-container {
  margin-top: -65px;
}
.banner-buttons button {
  min-width: 162px;
  height: 62.4px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  overflow: hidden;
  border: none;
  transition: 0.4s;
}
.banner-buttons button:hover {
  color: #f7f8f2;
  background: #0b1e5b;
}
.banner-buttons button:hover a {
  color: #f7f8f2 !important;
}
.hide-large{
  display: none;
}
/* scrolling css */
.scrolling-container {
  padding: 5rem 0;
  position: relative;
}
.scrolling h3 {
  position: absolute;
  top: -15rem;
  left: 27%;
  font-size: 14rem;
  color: #80808017;
  z-index: -1;
}
.scrolling {
  transform: rotate(-5deg);
}
@keyframes slide {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -300%;
  }
}
.scrolling ul {
  display: flex;
  animation: slide 40s linear infinite;
  -webkit-animation: slide 40s linear infinite;
}
.scrolling ul li a {
  padding: 21px 36px 24px 36px;
  font-size: 40px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  border-radius: 66px;
  background: #e7e7fd;
  text-align: center;
  white-space: nowrap;
}

/* details css  */
.details-container {
  border-radius: 100px;
  border: 1px solid #dfdfdf;
}
.details-image {
  width: 348px;
  height: 488px;
  border-radius: 288px;
  overflow: hidden;
}
.details-section {
  padding: 3rem;
}

/* projects  */
.project-icon {
  height: 100px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 31px;
  border: 1px solid grey;
  border-radius: 40px;
}
.projects p {
  font-size: 20px;
}
.project-image {
  border-radius: 20px;
  overflow: hidden;
}
.project-odd {
  margin-top: -7rem;
}
.last-column {
  margin-top: 7rem;
}

/* work css  */
.work-rocket-container {
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  animation: fly 2s linear infinite;
}
.work-rocket-container2 {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  top: 0px;
  left: 0;
  animation: fly2 2s linear infinite;
}
@keyframes fly2 {
  0% {
    top: -0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -0px;
  }
}
@keyframes fly {
  0% {
    top: -0px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -0px;
  }
}
.work-rocket {
  height: 320px;
  width: 130px;
  margin: 0 auto;
}
.work-rocket img {
  object-fit: initial;
  height: 100%;
  width: 100%;
}
.idea-container p {
  display: inline-block;
}
.idea {
  text-align: end;
  border-radius: 28px;
  border: 2px solid #d8d8d8;
  margin-right: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

/* faq css  */
.faq-container {
  border: 1px solid #dfdfdf;
  padding: 1rem 9rem;
  border-radius: 377px;
  overflow: hidden;
}

/* footer css  */
.socials {
  display: flex;
  margin-top: 20px;
}
.socials a {
  width: 69px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 46px;
  margin-right: 0;
  border-radius: 28px;
  border: 2px solid #d8d8d8;
  margin-right: 5px;
  font-size: 24px;
}
.single-projects {
  padding: 1rem;
  rotate: -1deg;
}
